In [203]:
import pandas as pd
import numpy as np

In [204]:
df = pd.read_csv('autompg1.csv',index_col=[0])

In [205]:
df.head()

,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
mpg,,,,,,,,
18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [206]:
df.dropna()

,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
mpg,,,,,,,,
18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...
27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

In [207]:
df.sort_index(level=['mpg'], ascending=False)

,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
mpg,,,,,,,,
46.6,4,86.0,65.0,2110,17.9,80,3,mazda glc
44.6,4,91.0,67.0,1850,13.8,80,3,honda civic 1500 gl
44.3,4,90.0,48.0,2085,21.7,80,2,vw rabbit c (diesel)
44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
43.4,4,90.0,48.0,2335,23.7,80,2,vw dasher (diesel)
...,...,...,...,...,...,...,...,...
11.0,8,350.0,180.0,3664,11.0,73,1,oldsmobile omega
11.0,8,400.0,150.0,4997,14.0,73,1,chevrolet impala
10.0,8,307.0,200.0,4376,15.0,70,1,chevy c20
10.0,8,360.0,215.0,4615,14.0,70,1,ford f250
9.0,8,304.0,193.0,4732,18.5,70,1,hi 1200d

In [208]:
df['horsepower'].mean()

104.46938775510205

In [209]:
df.columns

Index(['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration',
       'model year', 'origin', 'car name'],
      dtype='object')

In [210]:
df['watt']= df['horsepower'] *746

In [211]:
df

,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,watt
mpg,,,,,,,,,
18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,96980.0
15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320,123090.0
18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite,111900.0
16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst,111900.0
17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,104440.0
...,...,...,...,...,...,...,...,...,...
27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl,64156.0
44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup,38792.0
32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage,62664.0
28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger,58934.0
31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10,61172.0

In [212]:
df['Kilowatt']= df['watt']/1000

In [213]:
df

,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,watt,Kilowatt
mpg,,,,,,,,,,
18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,96980.0,96.980
15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320,123090.0,123.090
18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite,111900.0,111.900
16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst,111900.0,111.900
17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,104440.0,104.440
...,...,...,...,...,...,...,...,...,...,...
27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl,64156.0,64.156
44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup,38792.0,38.792
32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage,62664.0,62.664
28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger,58934.0,58.934
31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10,61172.0,61.172

In [214]:
df['How many lamps can this engine light up']= df['watt'] /100

In [215]:
df

,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,watt,Kilowatt,How many lamps can this engine light up
mpg,,,,,,,,,,,
18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,96980.0,96.980,969.80
15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320,123090.0,123.090,1230.90
18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite,111900.0,111.900,1119.00
16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst,111900.0,111.900,1119.00
17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,104440.0,104.440,1044.40
...,...,...,...,...,...,...,...,...,...,...,...
27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl,64156.0,64.156,641.56
44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup,38792.0,38.792,387.92
32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage,62664.0,62.664,626.64
28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger,58934.0,58.934,589.34
31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10,61172.0,61.172,611.72

In [216]:
df.sort_index(level=['mpg'], ascending=False)

,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,watt,Kilowatt,How many lamps can this engine light up
mpg,,,,,,,,,,,
46.6,4,86.0,65.0,2110,17.9,80,3,mazda glc,48490.0,48.490,484.90
44.6,4,91.0,67.0,1850,13.8,80,3,honda civic 1500 gl,49982.0,49.982,499.82
44.3,4,90.0,48.0,2085,21.7,80,2,vw rabbit c (diesel),35808.0,35.808,358.08
44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup,38792.0,38.792,387.92
43.4,4,90.0,48.0,2335,23.7,80,2,vw dasher (diesel),35808.0,35.808,358.08
...,...,...,...,...,...,...,...,...,...,...,...
11.0,8,350.0,180.0,3664,11.0,73,1,oldsmobile omega,134280.0,134.280,1342.80
11.0,8,400.0,150.0,4997,14.0,73,1,chevrolet impala,111900.0,111.900,1119.00
10.0,8,307.0,200.0,4376,15.0,70,1,chevy c20,149200.0,149.200,1492.00
10.0,8,360.0,215.0,4615,14.0,70,1,ford f250,160390.0,160.390,1603.90
9.0,8,304.0,193.0,4732,18.5,70,1,hi 1200d,143978.0,143.978,1439.78

In [217]:
df['Effiecncy']= df['acceleration'] / df['horsepower']

In [218]:
df

,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,watt,Kilowatt,How many lamps can this engine light up,Effiecncy
mpg,,,,,,,,,,,,
18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,96980.0,96.980,969.80,0.092308
15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320,123090.0,123.090,1230.90,0.069697
18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite,111900.0,111.900,1119.00,0.073333
16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst,111900.0,111.900,1119.00,0.080000
17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,104440.0,104.440,1044.40,0.075000
...,...,...,...,...,...,...,...,...,...,...,...,...
27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl,64156.0,64.156,641.56,0.181395
44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup,38792.0,38.792,387.92,0.473077
32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage,62664.0,62.664,626.64,0.138095
28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger,58934.0,58.934,589.34,0.235443
31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10,61172.0,61.172,611.72,0.236585

In [221]:
df.sort_values('Effiecncy' , ascending=False )
df.dropna()

,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,watt,Kilowatt,How many lamps can this engine light up,Effiecncy
mpg,,,,,,,,,,,,
18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,96980.0,96.980,969.80,0.092308
15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320,123090.0,123.090,1230.90,0.069697
18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite,111900.0,111.900,1119.00,0.073333
16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst,111900.0,111.900,1119.00,0.080000
17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,104440.0,104.440,1044.40,0.075000
...,...,...,...,...,...,...,...,...,...,...,...,...
27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl,64156.0,64.156,641.56,0.181395
44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup,38792.0,38.792,387.92,0.473077
32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage,62664.0,62.664,626.64,0.138095
28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger,58934.0,58.934,589.34,0.235443
31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10,61172.0,61.172,611.72,0.236585